.container{
    width: calc(100% - 150px);
    margin: auto ;
    background-color: rgba(42, 41, 42, 0.574);

}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.categ {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.578);
    width: 100%;
    height: min-content;
    box-shadow: 0px 0px 30px 10px  rgba(134, 134, 134, 0.855);
    z-index: 1;
}
.category{
    width: calc((100% - 100px ) / 9);
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;


}
.details{
    color:  rgba(51, 22, 57, 0.855); 
    background-color: white;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    margin: 20px ;
    padding:0px 10px;
}
.addCart{
     background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: 600;


}
.productImg{
    width: 200px;
    height: 300px;
    border-radius: 5px;

}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.362);


}
h5{
    color: white!important;
}
.rowBtn{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.category img{
    width: 120px;
    margin: 20px auto;

}
.bg{
    background-color: rgba(102, 101, 102, 0.301);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
}
.bg h1{
    text-transform: capitalize;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.price{
    display: flex;
    gap: 10px;
  }
  .priceBefor{
    color: red;
    text-decoration: line-through;
  }
p {
    color: white!important;
}