

table,th,td{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

}

.cart{
    background-color: rgba(0, 0, 0, 0.67);
    width: 70%;
    padding: 28px;
    margin: 20px auto;
}
.productCardHead{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.cart .productCard{
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}
th{
font-size: 25px;
color: white;

}
.productCard img{
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgba(51, 22, 57, 0.855);
}

 .quantity{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin:  auto;
    align-items: center;
    
}
.quantityBtn{

    padding: 0px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-radius: 0%;
}
.quantity p{
    margin: 0 5px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    text-transform: capitalize;
}
.price {
    font-size: 20px;
}
tbody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkOut{
    margin: 20px auto;
}
button{
    background-color: white!important;
    color: black!important;
}