nav ul li .nav_link.active{
    border-bottom: 3px solid white;
    padding: 10px 0;

}

body {
    background-repeat: repeat-y;
    background-size: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.526)),
    url("./assets/images/personal-shopper-office-with-client.jpg");

    
}
.notFound{
    display: flex;
    margin-top: 100px;
 background-image: url(assets/images/oops.png);
 background-size: contain;
 background-repeat: no-repeat;
    width: 70%;
    height: 90vh;
    border-radius: 5px;
    padding: 20px;
    margin:  50px auto;
    align-self: center;
}
.notFound h2{
    color: rgba(255, 255, 255, 0)!important;

}
.Toastify button{
    width: fit-content;
    background-color: white!important;
    color: black!important;
    padding: 5px;
}